/* HomePage CSS */

.homepage-components {
   display: flex;
}




/* MyList CSS */
.button-mylist {
   box-shadow: 2px 2px 5px white;
}

.series-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   
}
.title-serie-list h6 {
   flex-wrap: wrap;
   min-width: 300px;
   max-width: 300px;
   text-align: left;
   color: white;
}

.title-serie-list {
   margin-left: 5px;
}


.list-buttons {
   display: flex;
   justify-content: space-between;
}

.img-name-list {
   display: flex;
   align-items: center;
}

.list-group-item {
  
   background-color: #212529;
}

.mylist-container {
   margin-top: 50px;
}


.navBarLists {
   background-color: brown;
   max-width: 30%;
} */

.container-searchresults {
   display: flex;
   margin-top: 50px;
   padding-bottom: 50px;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.row {
   display: flex;
 margin-top:50px;
  justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 10px;
}


.image-list {
   padding: 0;
   box-shadow: 2px 2px 5px white;
}

.card-title {
   font-size: medium;
}

/* Login CSS */

.form-login-signup {
   display: flex;
   flex-direction: column;
   align-items: center;
}
