.navbar {
    background-color: black;
    padding: 10px ;
}

.links {
    color: #eb81e4;
}

.links:hover {
  color: #ffffff;
}

.button {
    border-radius: 12px;
    background-color:#eb81e4 ;
    color: #7030b1 2px;
    margin: 5px;
    border: 2px solid #eb81e4 ;
}


/* unvisited link */
links:link {
/*  color: #eb81e4;*/
}

/* visited link */
links:visited {
/*  color: #eb81e4;*/
}

/* mouse over link */
links:hover {
/*  color: white;*/
}

/* selected link */
links:active {
/*  color: white;*/
}