.panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shared-div {
  max-width: 60%;
  max-height: 60%;
}

.sharedlist-div {
  display:flex;
  justify-content: space-evenly;
}

.button-newshared{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.accordion-shared {
  max-width: 100%;
  max-height: 60%;
}

.buttons-inside-accordion {
  display: flex;
  flex-direction: column;
}

.button-space-between {
  margin: 5px;
}